::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
.item-input.ng-valid.input-has-value::after {
  border-bottom-color: transparent;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;

  .welcomeMessage {
    color: #fff;
  }
}

.scroll-content {
  overflow: hidden;
}

ion-list {
  background: transparent;
  transform: translateY(20vh);
  ion-item {
    --highlight-color-focused: #d611f0;
    --highlight-color-valid: #10dc60;
    --border-color: var(--ion-color-medium);
    --border-style: solid;
    --border-width: 0.5px;

    &.valid {
      --border-color: var(--ion-color-success);
      --border-width: 1px;
    }

    &.invalid {
      --border-color: var(--ion-color-danger);
      --border-width: 1px;

      ion-input {
        border: none;
      }
    }
  }
  ion-row {
    margin-bottom: 5vh;
  }
  ion-button {
    width: 30vh;
    margin: auto;
  }
  .alignItems {
    ion-checkbox,
    ion-note {
      display: inline-block;
      vertical-align: middle;
    }
    ion-checkbox {
      margin-right: 1vw;
      --size: 1.1rem;
    }
  }
  .signup {
    margin-top: 5vh;
    font-size: 0.8rem;
  }

  ion-col {
    ion-note {
      font-size: 0.85rem;
    }
  }
}
